body {
  padding: 0;
  margin: 0;
  color: #f2e5d7;
  font-family: Source Sans Pro;
  background-color: #525866;
  font-size: 20px;
}

a {
  color: #f2e5d7;
  text-decoration: none;
}

a:hover {
  color: #ec4e20;
}

.first-letter {
  color: #ec4e20;
}

.header {
  background-color: #1e212b;
}

.header-content {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.main {
    height: 100vh;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.project-card{
    padding: 1.5rem;
    border: solid 2px #f2e5d7;
    border-radius: 10px;
    grid-column: span 1;

}

.project-card img{
    max-height: 100%;
    max-width: 100%;
}

.footer {
  background-color: #1e212b;
  
}

.footer-content{
    margin: 0 auto;
        max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
